<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proiect_licenta_client"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- lunchMode:singletop inseamna ca daca activitatea este deja cea curenta nu se va recrea alta si se va apela onNewIntent -->
        <activity android:name=".Pagini.PaginaSearch"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity android:name=".Pagini.PaginaProfil"
            >
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".Pagini.PaginaSearch" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Pagini.PaginaPrincipala" />
        </activity>
        <activity android:name=".Pagini.PaginaComent" >
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".Pagini.PaginaSearch" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Pagini.PaginaProfil" />
        </activity>
        <activity android:name=".Pagini.PaginaProfilFriendList" >
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".Pagini.PaginaSearch" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Pagini.PaginaProfil" />
        </activity>
        <activity android:name=".Pagini.PaginaSignUp"
           >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Pagini.PaginaLogin" />
        </activity>
        <activity android:name=".Pagini.PaginaPrincipala"
          >
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".Pagini.PaginaSearch" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Pagini.PaginaLogin" />
        </activity>
        <activity android:name=".Pagini.PaginaMesaje">
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".Pagini.PaginaSearch" />

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Pagini.PaginaProfil" />
        </activity>
        <activity android:name=".Pagini.PaginaInterese">
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".Pagini.PaginaSearch" />

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Pagini.PaginaProfil" />
        </activity>
        <activity android:name=".Pagini.PaginaArhivaPrieteniTemporari">
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".Pagini.PaginaSearch" />

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Pagini.PaginaPrincipala" />
        </activity>
        <activity android:name=".Pagini.PaginaClasamentPrieteniTemporari">
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".Pagini.PaginaSearch" />

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Pagini.PaginaPrincipala" />
        </activity>
        <activity android:name=".Pagini.PaginaVizibilitatePost">
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".Pagini.PaginaSearch" />

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Pagini.PaginaProfil" />
        </activity>
        <activity
            android:name=".Pagini.PaginaLogin"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>